/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
     
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.article-list {
  padding: 30px;
}

.social-links.footer-social-links {
  text-align: center;
}    
.footer-bottom {
  margin-top: 45px;
}  

.nav-links > div {
  bottom: -50px;
}  

.mainmenu ul.nav.navbar-nav {
  margin-bottom: 10px;
}    
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 

.social-links {
  margin-top: 20px;
  text-align: center;
}
.navbar .navbar-toggle {
  border: 1px solid #333;
  display: block;
  float: none;
  margin: 25px auto;
}
.navbar .navbar-toggle .icon-bar {
  background: #333 none repeat scroll 0 0;
}  
.mainmenu ul.nav.navbar-nav li {
  display: block;
  float: none;
  text-align: left;
}    
.article-list {
  padding: 20px;
} 
.slide-text h2 {
  font-size: 45px;
}    
.post-detail-link::after, .footer-bottom::before, .entry-bottom::before, .entry-bottom::after, .comment-title::before {
  left: 50%;
  margin-left: -50%;
  width: 100%;
} 


.nav-links > div {
  bottom: -40px;
}   
.header {
  height: 400px;
} 
.mainmenu ul.nav.navbar-nav::after {
  display: none;
}    
.article-title h2, .entry-title h2 {
  font-size: 25px;
}    
body {
  font-size: 15px;
  line-height: 27px;
}
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}